header{
    width: 100%;
    height: 50px;
    display: flex;
    background-color:  rgb(16, 63, 80,0.5);
    align-items: center;
    gap: 24px;
    padding: 32px 64px;
    
}

body{
    background-color:  rgb(9, 36, 47);
}

header>img{
    height: 60px;
}

