body {
    height: 100dvh;
    background-color: var(--dark-background);
}

button {
    padding: 0;
    border: none;
    background: none;
    line-height: 0;
    cursor: pointer;
    overflow: hidden;
}

.fav_button {
    width: 140px;
    padding: 16px;
    background: fixed;
    border: 2px solid var(--border-blue);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    color: antiquewhite;
    font-size: 1.2rem;
}

.fav_button:hover {
    background-color: var(--border-blue);
}

.favorite_button_section {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-bottom: 16px;
    background-color: var(--light-background);
}

h2 {
    padding: 8px;
    text-align: center;
}

h3 {
    padding: 8px;
}

.page_header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--light-background);
    justify-content: center;
    align-items: center;
    padding: 32px 64px;
}

.book_shelf {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.book_card {
    height: 750px;
    width: 400px;
    background-color: var(--light-background);
    border-radius: 24px;
    border: 2px solid var(--border-blue);
    padding: 24px;
}

.book_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_title {
    height: 80px;
}

.book_header img {
    width: 100px;
    padding: 16px 0px;
}

.book_header_cover {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px;
    border-top: 4px solid var(--border-blue);
    border-bottom: 4px solid var(--border-blue);
}

.book_body {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-bottom: 4px solid var(--border-blue);
}

.book_body_price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}

.book_body_price>p {
    color: var(--price-red);
    font-weight: bold;
}

.book_likes {
    display: flex;
    gap: 8px;
    align-items: center;
}

.like_button img {
    width: 30px;
    height: 30px;
}

.comment_wrapper {
    height: 200px;
    overflow-y: auto;
    padding: 0px 8px;
}

.book_table {
    text-align: left;
    
}

.book_table th {
    vertical-align: text-top;
    padding-right: 8px;
    overflow-wrap:break-word;
}

.book_table td{
   overflow-wrap:break-word;
}

table {
    table-layout: fixed; 
    width: 100%; 
}


.book_comment_section {
    display: flex;
    flex-direction: column;
    padding: 16px 8px;
}

.comment_input {
    width: 90%;
    border: none;
    border-bottom: 5px solid rgb(4, 37, 5, 0.75);
    background-color: var(--light-background);
    font-size: 1.25rem;
    color: antiquewhite;
}

.book_footer {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.comment_button img {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .book_shelf {
        padding: 24px;
        gap: 8px;
    }

    .fav_button {
        width: 120px;
        font-size: 1rem;
    }

    .book_card {
        height: 750px;
        width: 315px;
        padding: 16px;
    }

    .page_header {
        height: 50px;
        gap: 5px;
    }

    .book_table th {
        font-size: 0.8rem;
    }

    .book_table td {
        font-size: 0.9rem;
    }

    .comment_input {
        width: 85%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1440px) {
    .book_shelf {
        padding: 100px max(200px, calc(50% - 720px));
    }

    .page_header {
        padding: 0px max(200px, calc(50% - 720px));
    }
}