:root{
    --dark-background: rgba(9, 36, 47, 1);
    --light-background:rgba(16, 63, 80, 0.5);
    --border-blue: rgba(36, 84, 101, 1);
    --price-red: rgb(204, 63, 31);

}




* {
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}